<h1>Stores</h1>
<ul>
  <% @stores.each do |store| %>
    <li><a href="/stores/<%= store.id %>"><%= store.name %></a> located on <%= store.address %></li>
  <% end %>
</ul>
<a href="/stores/new">Add Store</a>